
<div class="panel panel-default" *ngIf=product>
  <div class="panel-heading">Product Detail - {{product.product_name}}</div>
  <div class="panel-body">
      <form class="form-horizontal" >
        <div class="form-group">
          <label for="emp_name" class="col-sm-2 control-label">Product Name</label>
          <div class="col-sm-9">
            <p class="form-control">{{product.product_name}}</p> 
          </div>
        </div>
        <div class="form-group">
          <label for="position" class="col-sm-2 control-label">Description</label>
          <div class="col-sm-9">
          <p class="form-control">{{product.description}}</p>
          </div>
        </div>
        <div class="form-group">
          <label for="department" class="col-sm-2 control-label">Price</label>
          <div class="col-sm-9">
          <p class="form-control">{{product.price}}</p>
          </div>
        </div>
        <div class="form-group">
          <label for="salary" class="col-sm-2 control-label">Stock</label>
          <div class="col-sm-9">
            <p class="form-control">{{product.quantity}}</p>
          </div>
        </div>
        <div class="form-group">
          <div class="col-sm-offset-2 col-sm-8">
             <a  class="btn btn-info" (click)="back()">Back</a>
          </div>
        </div>
    </form>
  </div>
</div>